<h1>New Adoption Application</h1>

<%= form_with model: @adoption, url: adoptions_path do |form| %>
  <div>
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :street_address, 'Street Address' %>
    <%= form.text_field :street_address %>
  </div>
  <div>
    <%= form.label :city, 'City' %>
    <%= form.text_field :city %>
  </div>
  <div>
    <%= form.label :state, 'State' %>
    <%= form.text_field :state %>
  </div>
  <div>
    <%= form.label :zip_code, 'Zip Code' %>
    <%= form.text_field :zip_code %>
  </div>
  <div>
    <%= form.label :description, 'Description of why I would make a good home' %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.submit 'Submit' %>
  </div>
<% end %>
